.container{
  background: blue;
  /* height: 100vh; */
}

/* navbar css */

navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MuiSvgIcon-root{
    /* display: block !important; */
    display: none !important;
    font-size: 2em !important;
    margin-block-start: 0.90em !important;
}

.logo{
  /* display: flex; */
  /* justify-content: space-between; */
}




.menu_items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu_items h5{
  margin-left: 2rem;
}

@media only screen and (max-width: 700px){
  .menu_items{
    display: none;
  }

  .menu_items_mobile{
    position: absolute;
    display: block;
    background-color: aqua;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .menu_items_mobile h5{
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .MuiSvgIcon-root{
    display: inline-block !important;
  }

  navbar{
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-start;
  }

  .logo{
    display: flex;
    margin-left: 0.50em;
  }

  .logo h1{
    margin-left: 0.50em;
  }
}




.content{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.content h1,h3{
  text-transform: uppercase;
}

.content p{
  margin: 0px 15%;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn{
  margin: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 50px;
  background-color: transparent;
  color: black;
  border: 1px solid #FFD700;
}


.btn:hover {
  background-color:#FFD700; /* Green */
  color: white;
}
@media only screen and (max-width: 460px){
  .section-class{
  /* margin-top: 60% !important; */
}
  .card{
    flex-wrap: wrap;
  }

}

.card{
  display: flex;
    margin: 0px 20%;
    /* flex-wrap: wrap; */
}
.card-each{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-each  .MuiSvgIcon-root{
  font-size: 4.5rem !important;
}
.card-each--content{
  font-size: 0.6rem;
  color: gray;
}
section{
  margin-top: 3rem;
}