.container {
  /* background:whitesmoke; */
  height: 100vh;
}

/* navbar css */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  overflow: hidden;
  z-index: 999;
  height: 80px;
  top: 0;
  width: 100%;
  position: sticky;
}

.navbar.active {
  background: blue;
}

.MuiSvgIcon-root {
  /* display: block !important; */
  display: none !important;
  font-size: 2em !important;
  margin-block-start: 0.9em !important;
}

button {
  display: none;
}

.menu_items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu_items h5 {
  margin-left: 2rem;
}

@media only screen and (max-width: 700px) {
  button {
    display: grid;
    background-color: transparent;
    border: none;
  }

  .menu_items {
    display: none;
  }

  .menu_items_mobile {
    position: fixed;
    display: block;
    background-color: aqua;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: auto;
  }
  .menu_items_mobile h5 {
    /* color: white; */
    text-align: center;
    /* padding: 32px; */
    width: 100%;
    transition: all 0.5s ease;
  }

  .MuiSvgIcon-root {
    display: inline-block !important;
  }

  .navbar {
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-start;
  }

  .logo {
    display: flex;
    margin-left: 0.5em;
    align-items: baseline;
  }

  .logo h1 {
    margin-left: 0.5em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.content h1,
h3 {
  text-transform: uppercase;
  text-align: center;
}

.content p {
  margin: 0px 15%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn {
  margin: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 50px;
  background-color: transparent;
  color: black;
  border: 1px solid #ffd700;
}

.btn:hover {
  background-color: #ffd700; /* Green */
  color: white;
}
@media only screen and (max-width: 460px) {
  .section-class {
    /* margin-top: 60% !important; */
  }
  .card {
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
  margin: 0px 20%;
  /* flex-wrap: wrap; */
}
.card-each {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-each .MuiSvgIcon-root {
  font-size: 4.5rem !important;
}
.card-each--content {
  font-size: 0.6rem;
  color: gray;
}
section {
  margin-top: 3rem;
}

/* -------------------------------------------Slider------------------------------------------ */

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute !important;
  top: 50% !important;
  right: 32px !important;
  font-size: 3rem !important;
  color: black !important;
  z-index: 10 !important;
  cursor: pointer !important;
  user-select: none !important;
}

.left-arrow {
  position: absolute !important;
  top: 50% !important;
  left: 32px !important;
  font-size: 3rem !important;
  color: black !important;
  z-index: 10 !important;
  cursor: pointer !important;
  user-select: none !important;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}





/* ------------------------Gallery CSS----------------------- */

.gallery{
  -webkit-column-count:2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width:35% ;
  -moz-column-width: 35%;
  column-width: 35%;
  padding: 0 20%;
  margin-top: 6px;
}

.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  /* margin-bottom: 12px; */
}

.gallery .pics:hover{
  filter: opacity(.8);
}

/* @media(max-width:991px){
  .gallery{
    -webkit-column-count:2;
  -moz-column-count: 2;
  column-count: 2;
 
  }
} */

@media(max-width:480px){
  .gallery{
    -webkit-column-count:1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width:100% ;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}





/* -------------------------grid gallery------------------ */
.rows{
  display: flex;
  /* padding: 0 12%; */
}
.col-md-4 {
  padding-left: 0 !important;
}
.col-md-4 {
  padding-left: 0;
}
.col-md-8 {
  padding-left: 0 !important;
}
.column.col-md-6 {
  padding-left: 0%;
}

.container {
  padding: 0 15%;
}
.row>*{
  padding-left: none !important;
  padding-right: none !important;
}
.box1{
  height: 50vh;
  background: grey;
}

.box2{
  height: 50vh;
  background: blue;
}

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  /* margin-top: 8px; */
  /* vertical-align: middle; */
  /* width: 100%; */
  /* filter: grayscale(1) brightness(0.5); */
  /* border-radius: 5px; */
  cursor: pointer;
  /* transition: 0.3s linear; */
}